// TYPOGRAPHY
.heading {
  &__primary {
    font-size: rem(39px);
    line-height: 1.3;
    margin-bottom: rem(20px);

    @include respond(tab-land) {
      font-size: rem(34px);
    }

    @include respond(tab-port) {
      font-size: rem(36px);
      margin-bottom: rem(28px);
    }

    @include respond(phone) {
      font-size: rem(32px);
      line-height: 1.4;
    }

    @include respond(phone-small) {
      font-size: rem(27px);
    }
  }

  &__secondary {
    font-size: rem(35px);
    margin-bottom: rem(26px);

    @include respond(tab-land) {
      font-size: rem(30px);
    }

    @include respond(tab-port) {
      font-size: rem(34px);
    }

    @include respond(phone) {
      font-size: rem(29px);
    }
  }

  &__tertiary {
    font-size: rem(28px);
    color: #f6f6fe;
    margin-bottom: rem(26px);

    @include respond(tab-land) {
      font-size: rem(24px);
    }

    @include respond(phone) {
      font-size: rem(20px);
    }
  }
}

// VARIABLES
$pale-blue: hsl(243, 100%, 93%);
$gray-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$ex-dark-blue: hsl(229, 57%, 11%);

//
.btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

// UTILITIES
.center-text {
  text-align: center;
}
